.svg-card-dims {
	width: 183px;
	height: 165px;
}

.svg-close-dims {
	width: 20px;
	height: 20px;
}

.svg-dorohov-dims {
	width: 86px;
	height: 28px;
}

.svg-footer_search-dims {
	width: 38px;
	height: 8px;
}

.svg-logo-dims {
	width: 159px;
	height: 41px;
}

.svg-menu-dims {
	width: 22px;
	height: 14px;
}

.svg-reload-dims {
	width: 45px;
	height: 45px;
}

.svg-ruble-dims {
	width: 12px;
	height: 12px;
}

.svg-scroll_down-dims {
	width: 9px;
	height: 13px;
}

.svg-search-dims {
	width: 22px;
	height: 22px;
}

