<div class="social is--@@align is--@@color">
    <ul>
        <li>
            <a href="@@social.vk">
                <span class="is--f">Vk</span>
                <span class="is--s">Vk</span>
            </a>
        </li>
        <li>
            <a href="@@social.inst">
                <span class="is--f">In</span>
                <span class="is--s">In</span>
            </a>
        </li>
        <li>
            <a href="@@social.facebook">
                <span class="is--f">Fb</span>
                <span class="is--s">Fb</span>
            </a>
        </li>
    </ul>
</div>