body {
    color: #272727;
    font-family: 'Akzidenz-Grotesk Pro';
    position: relative;
    &.is--overlay {
        overflow: hidden;
        #overlay {
            opacity: 1;
            visibility: visible;
        }
    }
    &.is--preloader {
        overflow: hidden;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, .5);
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: .25s all ease;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    color: #272727;
    letter-spacing: 0.035em;
    line-height: 115%;
    margin: 0 0 25px 0;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.pt-40 {
    padding-top: 40px;
}

.article {
    b, strong {
        font-weight: bold;
    }
    p {
        margin: 0 0 20px 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 106.5%;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul,
    ol {
        margin: 0 0 20px 0;
        li {
            font-weight: 300;
            font-size: 18px;
            line-height: 106.5%;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    ol {
        padding-left: 20px;
        li {
            color: $c-primary;
            font-weight: 900;
            span {
                color: #272727;
                font-weight: 300;
            }
        }
    }
    ul {
        li {
            padding-left: 23px;
            position: relative;
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                position: absolute;
                top: 2px;
                left: 0;
                background: $c-primary;
            }
        }
    }
}

::-moz-selection { background: $c-primary; }
::selection { background: $c-primary; }

.page__title {
    font-size: 36px;
    color: #272727;
    letter-spacing: .035em;
    line-height: 115%;
    font-weight: bold;
    margin: 0 0 25px;
    @media (max-width: 1200px) {
        font-size: 26px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .article {
        p,
        ul,
        ol {
            br {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .article {
        p,
        ul li,
        ol li {
            font-size: 16px;
        }
        ul {
            li {
                &::before {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}