.container {
    max-width: #{1480px + 60px};
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.social {
    position: relative;
    ul {
        display: flex;
        li {
            a {
                @include fontBold();
                font-size: 24px;
                letter-spacing: 0.035em;
                transition: .25s all ease;
                display: block;
                height: 27px;
                overflow: hidden;
                span {
                    transform: matrix(1,0,0,1,0,0);
                    transition: .25s all ease;
                    display: block;
                }
                &:hover {
                    span {
                        transform: matrix(1,0,0,1,0,-27);
                    }
                }
            }
        }
    }
    &.is--left {
        ul {
            li {
                padding-right: 50px;
            }
        }
    }
    &.is--right {
        ul {
            li {
                padding-left: 50px;
            }
        }
    }
    &.is--black {
        ul {
            li {
                a {
                    color: #272727;
                }
            }
        }
    }
    &.is--white {
        ul {
            li {
                a {
                    color: #fff;
                }
            }
        }
    }
    &.is--primary {
        ul {
            li {
                a {
                    color: $c-primary;
                }
            }
        }
    }
}

.heading {
    margin-bottom: 45px;
    position: relative;
    &__sub {
        @include fontItalic();
        font-size: 72px;
        line-height: 91.5%;
        position: relative;
        z-index: 10;
    }
    &__title {
        @include fontBold();
        font-size: 72px;
        line-height: 91.5%;
        text-transform: uppercase;
        span {
            display: inline-block;
            padding-right: 30px;
            position: relative;
            z-index: 9;
        }
    }
    &__subtitle {
        font-size: 16px;
        line-height: 115%;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        padding-top: 20px;
    }
    &.is--black {
        color: #181818;
    }
    &.is--white {
        color: #fff;
    }
    &.is--bg-ff {
        .heading {
            &__title {
                span {
                    background: #fff;
                }
            }
        }
    }
    &.is--bg-t0 {
        .heading {
            &__title {
                span {
                    background: #202020;
                }
            }
        }
    }
    &.is--arrow {
        overflow: hidden;
        &.is--black {
            .heading {
                &__title {
                    &::after {
                        content: url(../../img/heading_arrow-dark.svg);
                    }
                }
            }
        }
        &.is--white {
            .heading {
                &__title {
                    &::after {
                        content: url(../../img/heading_arrow-white.svg);
                    }
                }
            }
        }
        .heading {
            &__title {
                &::after {
                    position: absolute;
                    right: 0;
                    bottom: 7px;
                }
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 25px 60px;
    background: $c-primary;
    position: relative;
    border: none;
    cursor: pointer;
    &:hover {
        &::before {
            height: 100%;
        }
        span {
            color: $c-primary;
        }
    }
    span {
        color: #272727;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
        transition: .25s all ease;
    }
    &::before {
        content: '';
        width: 100%;
        height: 0;
        position: absolute;
        z-index: 5;
        background: #272727;
        left: 0;
        bottom: 0;
        transition: .25s all ease;
    }
    &.is--white {
        &:hover {
            span {
                color: #272727;
            }
        }
        &::before {
            background: #fff;
        }
    }
}

.breadcrumbs {
    margin-bottom: 55px;
    ul {
        display: flex;
        li {
            font-size: 14px;
            padding-right: 5px;
            color: #272727;
            a { 
                color: #626262;
                white-space: nowrap;
                &::after {
                    content: ' ... ';
                    color: #626262 !important;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .heading {
        &__sub,
        &__title {
            font-size: 64px;
        }
    }
}

@media (max-width: 1025px) {
    .btn {
        padding: 17px 35px;
        span {
            font-size: 12px;
        }
    }
}

@media (max-width: 768px) {
    .heading {
        margin-bottom: 30px;
        &__sub,
        &__title {
            font-size: 36px;
        }
    }
    .breadcrumbs {
        display: none;
    }
}