.directions {
    background: #202020;
    &__inner {
        display: flex;
    }
    &__left,
    &__right {
        padding-top: 100px;
    }
    &__right {
        max-width: 350px;
        margin-left: auto;
        &__heading {
            @include fontBold();
            color: #fff;
            margin-bottom: 30px;
            font-size: 48px;
            line-height: 102%;
            text-transform: uppercase;
        }
        &__text {
            font-size: 16px;
            line-height: 115%;
            letter-spacing: 0.035em;
            color: #fff;
            margin-bottom: 55px;
        }
    }
    &__center {
        padding: 0 60px 0 70px;
        &__inner {
            width: 100%;
            height: 100%;
            @extend .swiper-container;
        }
        &__carousel {
            &__item {
                img {
                    display: block;
                }
            }
        }
    }
    &__menu {
        margin-bottom: 185px;
        ul {
            li {
                padding: 10px 0;
                cursor: pointer;
                span {
                    display: inline-block;
                    color: #fff;
                    padding: 5px 0;
                    position: relative;
                    padding-right: 65px;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        background: $c-primary;
                        width: 0;
                        height: 3px;
                        transition: .25s all ease;
                        // opacity: 0;
                    }
                }
                &.is--active,
                &:hover {
                    span {
                        &::after {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}