.info {
    padding: 50px 0 120px 0;
    overflow: hidden;
    &__inner {
        display: flex;
    }
    &__left {
        max-width: 565px;
        min-width: 565px;
        width: 565px;
        width: 100%;
        padding-right: 30px;
        &__desc {
            margin-bottom: 110px;
        }
        &__links {
            &__inner {
                display: flex;
                a {
                    display: block;
                    border: 1px solid #000000;
                    border-radius: 50px;
                    color: #000;
                    font-size: 18px;
                    background: #fff;
                    transition: .25s all ease;
                    &:hover {
                        background: #E31D1D;
                        color: #fff;
                        border-color: #E31D1D;
                    }
                    &.is--woman {
                        padding: 10px 75px 10px 35px;
                    }
                    &.is--man {
                        padding: 10px 55px;
                        transform: translateX(-55px);
                    }
                    &.is--active {
                        background: #E31D1D;
                        border-color: #E31D1D;
                        color: #fff;
                    }
                }
            }
        }
    }
    &__right {
        position: relative;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 630px;
            margin: 0 auto;
            width: 100%;
            position: relative;
            z-index: 999;
        }
        &__circles {
            &__block {
                border: 1px solid rgba(#000, 0.15);
                border-radius: 100%;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 100;
                &.is--on {
                    width: 46.5vw;
                    height: 46.5vw;
                    animation: pulse 2.7s infinite;
                }
                &.is--tw {
                    width: 32.1vw;
                    height: 32.1vw;
                    animation: pulse1 2.7s infinite;
                }
                &.is--th {
                    width: 21.9vw;
                    height: 21.9vw;
                    border: none;
                    @include primaryGradient();
                    animation: pulse2 2.7s infinite;
                }
            }
        }
    }
}

.body-map {
    padding: 55px 0 100px 0;
    overflow: hidden;
    &__inner {
        display: flex;
        max-width: 1750px;
        padding-left: 105px;
        padding-right: 105px;
    }
    &__applist {
        max-width: 475px;
        width: 475px;
        min-width: 475px;
        padding-top: 70px;
        &__block {
            margin-bottom: 85px;
            &:last-child {
                margin-bottom: 0;
            }
            &__inner {
                display: flex;
                background: #F7F7F7;
                padding-top: 15px;
                cursor: pointer;
                &:hover {
                    .body-map__applist__block__category span {
                        color: $c-primary;
                    }
                }
            }
            &__left {
                max-width: 230px;
                width: 100%;
                margin-right: 30px;
            }
            &__right {
                transform: translateY(-45px);
                color: #181818;
            }
            &__category {
                margin-bottom: 40px;
                span {
                    display: inline-block;
                    transform: rotate(-8.53deg);
                    font-size: 34px;
                    line-height: 91.5%;
                    @include fontItalic();
                    transition: .25s all ease;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 200px;
                    padding-bottom: 12px;
                }
            }
            &__text {
                &__model {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 25px;
                }
                &__title {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 25px;
                    margin-bottom: 25px;
                }
                &__arrow {
                    img {
                        max-width: 51px;
                    }
                }
            }
        }
    }
    &__left {
        z-index: 110;
        position: relative;
    }
    &__right {
        max-width: 850px;
        width: 100%;
        margin-left: auto;
        padding-top: 130px;
        padding-left: 30px;
        &__persons {
            position: relative;
            &__list {
                position: relative;
                z-index: 110 !important;
            }
            &__circles {
                &__block {
                    border: 1px solid rgba(#000, 0.15);
                    border-radius: 100%;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 100;
                    &.is--on {
                        width: 52vw;
                        height: 52vw;
                        animation: pulse 2.7s infinite;
                    }
                    &.is--tw {
                        width: 35vw;
                        height: 35vw;
                        animation: pulse1 2.7s infinite;
                    }
                    &.is--th {
                        width: 24vw;
                        height: 24vw;
                        border: none;
                        @include primaryGradient();
                        animation: pulse2 2.7s infinite;
                    }
                }
            }
        }
        &__inner {
            position: relative;
        }
        &__controls {
            button {
                position: absolute;
                top: 50%;
                margin-top: -27px;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                z-index: 110;
                height: 54px;
                &.is--prev {
                    left: 0;
                }
                &.is--next {
                    right: 0;
                    transform: rotate(180deg);
                }
            }
        }
        &__switcher {
            padding-top: 10px;
            position: relative;
            z-index: 110;
            .info__left__links__inner {
                justify-content: center;
            }
        }
    }
    &__m-input {
        display: none;
        &__heading {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 18px;
        }
        &__inner {
            position: relative;
            width: 100%;
            max-width: 222px;
            input[type="text"] {
                display: block;
                padding: 18px 40px 18px 20px;
                border: 1px solid #B6B6B6;
                position: relative;
                margin-right: 0;
            }
            ul.es-list {
                position: absolute;
                left: 0;
                top: 100% !important;
                padding: 12px 0;
                border: 1px solid #B6B6B6;
                border-top: 0;
                width: 100% !important;
                display: none;
                z-index: 10;
                background: #fff;
                max-height: 350px;
                overflow: auto;
                li {
                    padding: 12px 20px;
                    cursor: pointer;
                    transition: .25s all ease;
                    &:hover {
                        color: $c-primary;
                    }
                }
            }
            &::after {
                content: url(../../img/dropdown.svg);
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -6px;
                transform: rotate(90deg);
            }
        }
    }
}

.person {
    position: relative;
    margin: 0 auto;
    display: none;
    &.is--woman-front {
        max-width: 37vh;
        width: 100%;
    }
    &.is--woman-back {
        max-width: 37vh;
        width: 100%;
    }
    &.is--man-front {
        max-width: 36vh;
        width: 100%;
    }
    &.is--man-back {
        max-width: 36vh;
        width: 100%;
    }
    &-dot {
        position: absolute;
        left: 0;
        top: 0;
        width: 23px;
        height: 23px;
        box-sizing: border-box;
        border: 1px solid $c-primary;
        border-radius: 100%;
        background: rgba($c-primary, .33);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .25s all ease;
        transform: translate3d(-12px, -12px, 0);
        span {
            display: block;
            width: 62%;
            height: 62%;
            background: $c-primary;
            border-radius: 100%;
            transition: .25s all ease;
        }
        &:hover,
        &.is--active {
            border-color: #E31D1D;
            background: rgba(#E31D1D, .33);
            width: 39px;
            height: 39px;
            transform: translate3d(-19px, -19px, 0);
            span {
                background: #E31D1D;
            }
        }
    }
}

@media (max-width: 1440px) {
    .info {
        &__right {
            img {
                max-width: 480px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .info {
        &__right {
            display: none;
        }
        &__left {
            padding-right: 0;
            max-width: 100%;
            min-width: 0;
            width: 100%;
        }
    }
    .body-map {
        &__right {
            display: none;
        }
        &__left {
            max-width: 100%;
            width: 100%;
        }
        &__inner {
            max-width: #{1480px + 60px};
            padding-left: 30px;
            padding-right: 30px;
        }
        &__applist {
            width: 100%;
            max-width: 100%;
            min-width: 0;
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
            &__block {
                max-width: 50%;
                padding-left: 15px;
                padding-right: 15px; 
                width: 100%;
                &:last-child {
                    margin-bottom: 85px;
                }
                &__inner {
                    height: 100%;
                }
                &__left {
                    max-width: 170px;
                    display: flex;
                    align-items: flex-end;
                }
                &__right {
                    padding-right: 15px;
                }
                &__category {
                    span {
                        font-size: 38px;
                    }
                }
                &__text {
                    &__model {
                        font-size: 16px;
                    }
                    &__title {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
        &__m-input {
            display: block;
        }
    }
}

@media (max-width: 900px) {
    .body-map {
        &__applist {
            &__block {
                max-width: 100%;
                &__left {
                    max-width: 200px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .info {
        padding: 50px 0;
        &__left {
            &__desc {
                margin-bottom: 40px;
            }
            &__links {
                a {
                    &.is--man {
                        padding: 10px 35px;
                    }
                    &.is--woman {
                        padding: 10px 65px 10px 25px;
                    }
                }
            }
        }
    }
    .body-map {
        &__applist {
            margin: 0;
            &__block {
                padding: 0;
                margin-bottom: 50px;
                &:last-child {
                    margin-bottom: 0;
                }
                &__left {
                    max-width: 90px;
                    margin-right: 10px;
                }
                &__right {
                    transform: translateY(-25px);
                }
                &__category {
                    margin-bottom: 20px;
                    span {
                        font-size: 24px;
                    }
                }
                &__text {
                    &__title,
                    &__model {
                        font-size: 14px;
                    }
                    &__title {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

// ----------------------

@media (max-height: 920px) {
    .person {
        &.is--woman-back,
        &.is--woman-front {
            max-width: 35vh;
        }
        &.is--man-back,
        &.is--man-front {
            max-width: 34vh;
        }
    }
}

@media (max-height: 760px) {
    .person {
        &.is--woman-front,
        &.is--woman-back {
            max-width: 32vh;
        }
        &.is--man-front,
        &.is--man-back {
            max-width: 31vh;
        }
    }
}