.stats {
    &.is--white {
        background: #fff;
    }
    &.is--grey {
        background: #f7f7f7;
    }
    padding: 110px 0 0;
    &__inner {
        max-width: 1340px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__block {
        max-width: 33.333333%;
        width: 100%;
        margin-bottom: 130px;
        display: flex;
        justify-content: center;
        &__inner {
            max-width: 230px;
            width: 100%;
        }
        &__num {
            letter-spacing: 0.035em;
            font-size: 64px;
            line-height: 115%;
            @include fontBold();
            line-height: 50px;
            margin-bottom: 20px;
            sup {
                font-size: 24px;
                top: -1.5em;
            }
        }
        &__text {
            font-size: 18px;
            line-height: 115%;
            letter-spacing: 0.035em;
        }
    }
}

.tradein {
    background: linear-gradient(90.3deg, #462271 0.02%, #DD7678 52.08%, #F8A37A 99.97%), #C4C4C4;
    transition: .25s all ease;
    &:hover {
        opacity: .9;
    }
    &__inner {
        height: 145px;
        max-width: 960px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__center {
        height: 100%;
    }
    &__text {
        color: #fff;
        &__title {
            @include fontBold();
            font-size: 36px;
            line-height: 91.5%;
            margin-bottom: 15px;
        }
        &__sub {
            font-size: 24px;
            line-height: 91.5%;
        }
    }
    &__center {
        color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 0 25px;
        background: url(../../img/tradein_circle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &__sub {
            width: 100%;
            @include fontItalic();
            font-size: 36px;
            line-height: 91.5%;
        }
        &__title {
            font-size: 72px;
            line-height: 91.5%;
            @include fontBold();
        }
    }
}

.zones {
    padding: 130px 0 200px 0;
    overflow: hidden;
    &__inner {
        display: flex;
    }
    &__left {
        min-width: 540px;
        width: 540px;
        padding-right: 70px;
        padding-top: 45px;
        &__heading {
            font-size: 36px;
            @include fontBold();
            line-height: 89%;
            letter-spacing: 0.035em;
            margin-bottom: 30px;
        }
        &__content {
            line-height: 115%;
            letter-spacing: 0.035em;
            margin-bottom: 90px;
        }
    }
    &__right {
        width: 100%;
        position: relative;
    }
    &__carousel {
        &__inner {
            width: 100%;
            height: 100%;
            @extend .swiper-container;
        }
        &__item {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 80%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: flex-end;
            &__title {
                @include fontItalic();
                font-size: 64px;
                line-height: 152.5%;
                color: #181818;
                margin-top: -30px;
            }
        }
        &__mouse {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: 999;
            left: 0;
            cursor: none;
            span {
                width: 50%;
                &.is--left {
                    cursor: url(../../img/cursor_left.svg), auto;
                }
                &.is--right {
                    cursor: url(../../img/cursor_right.svg), auto;
                }
            }
            .is--cursor {
                position: absolute;
            }
        }
        &__controls {
            display: none;
            button {
                position: absolute;
                top: 50%;
                z-index: 99;
                border: none;
                background: transparent;
                padding: 0;
                cursor: pointer;
                margin-top: -27px;
                img {
                    max-width: 55px;
                    height: auto;
                }
                &.is--prev {
                    left: -20px;
                }
                &.is--next {
                    right: -20px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .zones {
        &__left {
            min-width: 400px;
            width: 400px;
        }
        &__carousel {
            &__item {
                &__title {
                    font-size: 36px;
                    margin-top: -15px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .tradein {
        &__text {
            &__title {
                font-size: 24px;
            }
            &__sub {
                font-size: 18px;
            }
        }
        &__center {
            background-size: 85%;
            &__sub {
                font-size: 24px;
            }
            &__title {
                font-size: 64px;
            }
        }
    }
    .zones {
        padding: 60px 0 125px 0;
        &__inner {
            flex-wrap: wrap;
            padding-right: 30px;
        }
        &__left {
            min-width: 0;
            max-width: 100%;
            width: auto;
            padding: 0 0 45px 0;
            &__btn {
                display: none;
            }
            &__heading {
                font-size: 18px;
                margin-bottom: 15px;
            }
            &__content {
                margin-bottom: 0;
                max-width: 355px;
                font-size: 14px;
            }
        }
        &__carousel {
            &__mouse {
                display: none;
            }
            &__item {
                &:last-child {
                    display: none;
                }
            }
            &__controls {
                display: block;
            }
        }
    }
}

@media (max-width: 1025px) {
    .stats {
        &__block {
            &__num {
                font-size: 54px;
                margin-bottom: 10px;
            }
            &__text {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 768px) {
    .stats {
        padding-top: 70px;
        padding-bottom: 10px;
        &__block {
            max-width: 50%;
            margin-bottom: 50px;
            &__num {
                font-size: 36px;
                sup {
                    top: -.5em;
                }
            }
        }
    }
    .tradein {
        &__inner {
            justify-content: center;
        }
        &__center {
            background-size: 82%;
            &__title {
                font-size: 48px;
            }
        }
        &__text {
            display: none;
        }
    }
    .zones {
        padding: 40px 0 45px 0;
        &__left {
            &__title {
                max-width: 222px;
            }
        }
        &__carousel {
            &__item {
                &__title {
                    font-size: 24px;
                    margin-top: -10px;
                }
            }
            &__controls {
                button {
                    margin-top: -20px;
                    img {
                        max-width: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .stats {
        padding-top: 30px;
        padding-bottom: 25px;
        &__list {
            flex-flow: wrap;
        }
        &__block {
            margin-bottom: 15px;
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 4;
            }
            &__num {
                font-size: 24px;
                line-height: 24px;
                sup {
                    font-size: 14px;
                    top: -.8em;
                }
            }
            &__text {
                font-size: 14px;
            }
        }
    }
}