$t-green: #99DDCC;
$t-blue: #BAD7DF;
$t-red: #FFE2E2;

@mixin rubleLabel() {
    background: #E31D1D;
    width: 36px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    svg {
        fill: #fff;
    }
}

.table {
    background: #F5F5F5;
    padding: 60px 0 50px 0;
    &__inner {
        max-width: #{1480px + 200px};
        padding-right: 100px;
        padding-left: 100px;
        position: relative;
    }
    &-filters {
        padding: 65px 0 70px 0;
    }
    &__list {
        margin-bottom: 90px;
        cursor: grab;
        &__items {
            margin: 0 -12px;
            display: flex;
        }
        &__col {
            padding: 0 12px;
            max-width: 14.28571428%;
            width: 100%;
        }
        &__block {
            height: 135px;
            width: 100%;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.098);
            margin-bottom: 8px;
            transition: .25s all ease;
            cursor: pointer;
            padding: 15px 15px 20px 20px;
            display: block;
            &__date {
                padding: 10px 0;
                margin-bottom: 40px;
                border-bottom: 5px solid;
                text-align: center;
                font-weight: 300;
                font-size: 18px;
                &.is--default {
                    border-color: #DBDBDB;
                }
                &.is--current {
                    border-color: $c-primary;
                    font-weight: 600;
                }
            }
            &__inner {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            &__top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                width: 100%;
                &__title {
                    font-weight: 600;
                    font-size: 18px;
                }
                &__time {
                    font-weight: 300;
                    font-size: 14px;
                }
            }
            &__trainer {
                font-weight: 300;
                font-size: 16px;
            }
            &__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: auto;
                width: 100%;
                &__left {
                    font-weight: 300;
                    font-size: 14px;
                }
                &__right {
                    span {
                        @include rubleLabel();
                    }
                }
            }
            &:hover {
                box-shadow: none;
            }
            &.is--white {
                background: #fff;
            }
            &.is--green {
                background: $t-green;
            }
            &.is--blue {
                background: $t-blue;
            }
            &.is--red {
                background: $t-red;
            }
            &.is--empty {
                background: #EEEDED;
                cursor: grab;
            }
        }
    }
    &__controls {
        display: none;
        button {
            position: absolute;
            top: 25px;
            padding: 0;
            border: none;
            background: transparent;
            outline: none;
            cursor: pointer;
            &.is--prev {
                left: 50px;
                transform: rotate(180deg);
            }
            &.is--next {
                right: 50px;
            }
        }
    }
    &__footer {
        &__top,
        &__bottom {
            display: flex;
            flex-wrap: wrap;
        }
        &__top {
            margin-bottom: 35px;
            &__block {
                margin-right: 60px;
                &__inner {
                    display: flex;
                    align-items: center;
                }
                &__left {
                    margin-right: 8px;
                    span {
                        &.is--red,
                        &.is--blue,
                        &.is--green {
                            display: block;
                            width: 32px;
                            height: 23px;
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.098);
                        }
                        &.is--red {
                            background: $t-red;
                        }
                        &.is--blue {
                            background: $t-blue;
                        }
                        &.is--green {
                            background: $t-green;
                        }
                        &.is--ruble {
                            @include rubleLabel();
                        }
                    }
                }
                &__right {
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .table {
        &__list {
            &__col {
                padding: 0 9px;
            }
        }
        &__controls {
            display: block;
            button {
                &.is--prev {
                    left: 40px;
                }
                &.is--next {
                    right: 40px;
                }
            }
        }
        &__footer {
            display: flex;
            align-items: center;
            &__top {
                margin-bottom: 0;
                &__block {
                    margin-right: 40px;
                }
            }
            &__bottom {
                .table__footer__top__block {
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .table {
        &__footer {
            flex-wrap: wrap;
            &__top,
            &__bottom {
                width: 100%;
            }
            &__top {
                flex-wrap: wrap;
                &__block {
                    width: 100%;
                    margin: 0 0 20px 0 !important;
                }
            }
            &__bottom {
                .table__footer__top__block {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .table {
        &__inner {
            max-width: #{1480px + 60px};
            padding-left: 30px;
            padding-right: 30px;
        }
        &__controls {
            button {
                top: -40px;
            }
        }
    }
}